.input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.input label {
  font-weight: bold;
  margin-right: 1rem;
}

.input input {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}
.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #782403;
  color: white;
  padding: 0.25rem 2rem;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}